@font-face {
	font-family: 'Noot';
	font-weight: 400;
	font-style: normal;
	src: url('../GUIimage/noot.woff') format('woff');
}
body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: table;
	width: 100%;
	background-position: center top;
	background-size: 100%;
	overflow: hidden;
	text-align: center;
	 
}

#gameConsole {
	display: flexbox;
	overflow: auto;
	position: relative;
	height: fit-content;
	width: 85%;
	margin: auto;
	vertical-align: middle;


	background-color: #875f2e;
	background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 56%, #2c2c2c 85%, #2b0c0c 93%, #131313 100%);
	border: solid black 0.4vmin;
	border-radius: 3vmin;
	font-family: "noot", Times, serif;
	color: white;
	font-size: 5.4vmin;
	padding: 1vmin 1vmin;

	text-align: center;
	 text-shadow: rgb(68, 41, 122) 2px 2px 1px, rgb(32, 19, 58) 3px 3px 1px;
}
.headerElement {
	/* font-size: 12px; */
	font-size: 2.5vw;
}
.HeaderCount {
	position: relative;
	height: fit-content;
	float: left;
}
.headertext {
	margin: auto;
	padding-left: 20px;
	position: relative;
	/* left: 10%; */
	
 }
 .Headerstopper {
	 float: left; 
	 margin: 0px 0px 0px 40px; 
 }
#boardWrapper {
	text-align: initial;
	background-color: rgba(0, 0, 0, 0.822);
	position: relative;
	margin: auto auto;
	/* top: 10%;
	left: 10.5%;  */
	border: ridge black 1px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 30, 0, 0.5);

	width: fit-content;
	height: fit-content;
	min-width: 70%;
	max-width: 80%;
	min-height: 70%;
	max-height: 90%;
	 
}

.cardWrappStyle {
	float: left;
	perspective: 600px;
 
 
}
.flip-container {
	width: 12.5vw;
	height: 17vh;
	border: solid #4d4d4d 2px;
	border-radius: 6px;
	margin: 1px;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	box-shadow: 5px 5px 5px rgba(0, 30, 0, 0.3);
	z-index: 1;
}
.front,
.back {
	width: 100.5%;
	height: 100%;
	position: absolute;
	border-radius: inherit;
	top: 0;
	left: 0;
	overflow: hidden;
}
.front {
	opacity: 0.99;
	background: gold;
	transform: rotateY(0deg);
	z-index: 1;
	overflow: hidden ;
}
.back {
	/* background-image: filter: brightness(0.8); */
	transform: rotateY(180deg);
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	font-size: 200%;
}
.flipped {
	transform: rotateY(180deg);
}
.flash-button {
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin: 10px 10px;
 
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	 
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}
@keyframes flash {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}
.blink_me {
	animation: blinker 0.7s linear infinite;
	color: yellow;
}
.button {
	background-color: #4CAF50;
	/* Green */
	border: 30px;
	color: white;
	margin: 00px 10px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: "noot", Times, serif;
	color: white;
}
.button:hover {
	background-color: #4C5F50;
}
@keyframes blinker {
	50% {
		opacity: 0.2;
	}
}
 
@media (max-width: 767px) {
	body {
	  transform: rotate(-90deg);
	  transform-origin: left top;
	  width: 100vh;
	  overflow-x: hidden;
	  position: fixed;
	  top: 100%;
	  left: 0;
	}
	.flip-container {
		 height: 17vw;
		 width: 12.5vh;
 
  }
  #boardWrapper {
	  max-width: 85%;
	  max-height: 70%;
  }
  .headerElement {
	/* font-size: 12px; */
	font-size: 2.5vh;
}
}